@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("ttf");
}
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/miscellaneous";
@import "./variables/layout";
@import "./variables/input";

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: $main-background;
  color: $font-color;
}
footer {
  background-color: $secondary-background;
}
